* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffcd44; /* 브라운 컬러 */
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

button {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1rem;
    color: #8B4513;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0e68c;
}
